
<div class="portfolio" #panelContainer>
    <div class="pList" #pList>
        @for (item of items; track $index) {
            <div #project>
                <app-child-list-component  [list]="item" [nthIndex]="$index"></app-child-list-component>

            </div>
        }
    </div>
    <!-- <section class="min-h-screen snap-center"></section>
    <section class="min-h-screen snap-center"></section>
    <section class="min-h-screen snap-center"></section>
    <section class="min-h-screen snap-center"></section> -->

    
</div>

