<ngt-ambient-light [intensity]="3" />
<ngt-spot-light [position]="10" [intensity]="0.5 * Math.PI" [angle]="0.15" [penumbra]="1" [decay]="0" />
<ngt-point-light [position]="-10" [intensity]="0.5 * Math.PI" [decay]="0"  [parameters]="{ shadow: { bias: 0.0001 } }"/>
  <!-- @if (gltfResult(); as gltf) {
    <ngt-primitive *args="[gltf.scene]" />
  } -->
  <ngts-environment [options]="{ background: false, preset: 'night' }">
    <ng-template>
      <!-- <ngt-color *args="['black']" attach="background" /> -->
      <ngts-lightformer [options]="{ position: [0, 0, -5], scale: 10, color: 'red', intensity: 10, form: 'ring' }" />
    </ng-template>
  </ngts-environment>

  @if(model(); as gltf){
    <ngt-mesh #mesh>
      <!-- <ngt-box-geometry /> -->
       <ngt-primitive *args="[model()]" [parameters]="{ scale: scale() }"  [position]="[0,-0.3,0]"></ngt-primitive >
   
      <!-- <ngt-mesh-standard-material color='mediumpurple'/> -->
  
    </ngt-mesh>

  }


  
  <ngts-contact-shadows
  [options]="{ position: [0, -0.99, 0], scale: 10, resolution: 512, opacity: 0.4, blur: 2.8 }"
/>

  <ngt-orbit-controls #orbirControls *args="[camera(), glDomElement()]" [enableZoom]="false" [autoRotate]="false" [autoRotateSpeed]="0.3"  />

  <!-- <ngts-camera-controls /> -->
  
