    <div class="pItem" #project>
        <div  class="pImg bg-amber-300">
           <img  src="{{list.img}}" alt="">
        </div>
        <div class="pText" >
                <h1>{{list.title}}</h1>
                <p>{{list.dec}}</p>
                <p class="text-white m-0 p-0">Tech Stack:</p>
                <p>{{list.techStack}}</p>
              
                <a href="{{list.link}}"><button>
                    View Project
                </button></a>
        </div>

   
    
    </div>

