<!-- Main Container -->
<div class="container-custom">

  
  <!-- Hero Section -->
   <section class="min-h-screen snap-center">
    <app-hero></app-hero>
   </section>

  <!-- Services Section -->
  <section class="min-h-screen snap-center ">
    <app-services></app-services>
  </section>
</div>

<!-- Portfolio Section (outside container-custom) -->
<section class="min-h-screen snap-center w-full m-0 p-0">
  <app-portfolio></app-portfolio>
</section>

<!-- Contact Section -->  
<div class="container-custom">
  <section class="min-h-screen snap-center">
    <app-contact></app-contact>
  </section>
</div>
  
