<div class="container-custom">
  <!-- Hero Section -->
  <section class="min-h-screen snap-center" id="heroSection">
    <ng-container *ngIf="loadHero" [ngComponentOutlet]="heroComponent"></ng-container>
  </section>

  <!-- Services Section -->
  <section class="min-h-screen snap-center" id="servicesSection">
    <ng-container *ngIf="loadServices" [ngComponentOutlet]="servicesComponent"></ng-container>
  </section>
</div>

<!-- Portfolio Section -->
<section class="min-h-screen snap-center w-full m-0 p-0" id="portfolioSection">
  <ng-container *ngIf="loadPortfolio" [ngComponentOutlet]="portfolioComponent"></ng-container>
</section>

<!-- Contact Section -->
<div class="container-custom">
  <section class="min-h-screen snap-center" id="contactSection">
    <ng-container *ngIf="loadContact" [ngComponentOutlet]="contactComponent"></ng-container>
  </section>
</div>
  
