<!-- Main Container -->
<div class="container-custom">

  
  <!-- Hero Section -->
   <section class="min-h-screen snap-center">
    <app-hero></app-hero>
   </section>

  <!-- Services Section -->
  <section class=" min-h-screen snap-center">
    <app-services></app-services>
  </section>

  <!-- Portfolio Section -->
  <section class="min-h-screen bg-green-800 snap-center" >
    <app-portfolio></app-portfolio>
  </section>

  <!-- Contact Section -->  
  <section class="min-h-screen bg-blue-800 snap-center">
    <app-contact></app-contact>
  </section>

  <!-- 3d Test -->
  <section class="">
    <app-test3d></app-test3d>
  </section>
</div>