<div class="services text-white"  #serviceSection>
    <div class="sSection left"  #left>
         <h1 class="sTitle" #serviceBox>How do i Help?</h1>
         <div class="slist" @serviceInAnimation #serviceWrapper>
            <div class="service" #serviceBox [id]="service.id" (click)="setCurrentServiceID(service.id)"   
                 [ngClass]="{'active': service.id===serviceID}"  
                 *ngFor="let service of services"
                 >
                  <div class="sIcon">
                    <img  [src]="service.img" alt="{{service.title}}" width="48" height="48" />
                  </div>
                  <div class="sInfo">
                      <h2>{{service.title}}</h2>
                      <h3>{{service.counter}}</h3>
                  </div>
            </div>
         </div>
    </div>
    <div class="sSection right" #right>
        @if (serviceID === 1) {
            <ngt-canvas class="canvas"  [sceneGraph]="sceneGraph" [camera]="{zoom: 1}" ></ngt-canvas>
        } @else if (serviceID === 2) {
            <ngt-canvas class="canvas"  [sceneGraph]="sceneGraph" [camera]="{zoom: 1}" ></ngt-canvas>
        } @else if (serviceID === 3){
            <ngt-canvas class="canvas"  [sceneGraph]="sceneGraph" [camera]="{zoom: 2}" ></ngt-canvas>
        }
    </div>
</div>
