<div class="services text-white"  #serviceSection>
    <div class="sSection left" [@serviceInAnimation] #left>
         <h1 class="sTitle">How do i Help?</h1>
         <div class="slist">
            <div class="service" [id]="service.id"  *ngFor="let service of services">
                  <div class="sIcon">
                    <img  [src]="service.img" alt="{{service.title}}" width="48" height="48" />
                  </div>
                  <div class="sInfo">
                      <h2>{{service.title}}</h2>
                      <h3>{{service.counter}}</h3>
                  </div>
            </div>
         </div>
    </div>
    <div class="sSection right" #right>
        <ngt-canvas class="canvas"  [sceneGraph]="sceneGraph" [camera]="{zoom: 1}"   ></ngt-canvas>
    </div>
</div>
